
@{
    ViewBag.Title = "Persona";
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="appAngular">
<head>
    <title>Persona</title>
</head>
<body ng-controller="persona as p">
    <input type="number" ng-model="p.persona.ID"/>
    <input type="text" ng-model="p.title"/>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="person in p.listaPersona"><label>Nombre: {{person.name}}</label>  <label>Cumpleaños: {{person.fechaNacimiento | date:'short'}}</label> </li>
    </ul>
    <br />
    <select ng-model="p.personaSeleccionado" ng-options="person.edad as person.name for person in p.listaPersona">
        <option value="">Seleccione</option>
    </select>
    <button ng-click="p.consular(24)">Consultar</button>
    <button ng-click="p.guardar(p.persona)">Grabar</button>
    <h1>Bienveniddo</h1>
    <script src="~/scripts/angular/angular.min.js"></script>
    <script src="~/scripts/appjs/persona.js"></script>
</body>
</html>

